<div
  style="
    border: 1px solid lightray;
    display: table-caption;
    justify-content: center;
    padding: 10%;
    margin: 50px;
  "
>
  <h3 style="font-family: sans-serif; font-size: 24px">Users</h3>
  @for( user of users; track user){
  <!-- <mat-card
    class="example-card"
    style="
      display: flex;
      flex-direction: row;
      border: 2px solid lightgray;
      padding: 7px;
      border-radius: 5px;
      margin-bottom: 10px;
      width:170%
    "
  >
    <div class="profile-image">{{ getProfileInitials(user) }}</div> 
    <mat-card-header
      style="display: flex; padding: 0; margin: 0; flex-direction: column"
    >
      <mat-card-title
        style="font-family: sans-serif; font-weight: 600; font-size: 18px"
        >{{ user.firstname }} {{ user.lastname }}</mat-card-title
      >
      <mat-card-subtitle style="font-family: sans-serif; font-size: 12x">{{
        user.email
      }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card> -->

  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <div mat-card-avatar class="example-header-image" style="color: rgb(48, 48, 247)s;">{{ getProfileInitials(user) }}</div> 
      <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
      <mat-card-subtitle style="color: lightgray;">{{
        user.email
      }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  } @empty {
  <div>
    <p>Oops! no user found</p>
  </div>
  }
</div>

