.container {
  border: 1px solid lightgray;
  display: table-caption;
  justify-content: center;
  padding: 10%;
  margin: 50px;
}

.heading {
  font-family: sans-serif;
  font-size: 24px;
}

.user-card {
  display: flex;
  flex-direction: row;
  border: 2px solid lightgray;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 170%;
}

.profile-image {
  /* Add your styles for the profile image here */
}

.card-header {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.card-title {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.card-subtitle {
  font-family: sans-serif;
  font-size: 12px;
}

.example-card {
  /* Add any common styles for your mat-card here */
}