.main-form{
    border: 2px solid lightray;
    display: table-caption;
    justify-content: center;
    padding: 10%;
    margin: 50px;
}

.main-field{
    margin-bottom: 10px;
}

.form-button{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(42, 42, 240);
}