/* user-form.component.css */
.main-form {
    border: 2px solid lightray;
    display: table-caption;
    justify-content: center;
    padding: 10%;
    margin: 50px;
  }
  
  .main-field {
    margin-bottom: 10px;
  }
  
  label {
    font-family: sans-serif;
    color: rgb(42, 42, 240);
  }
  
  input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 5px;
    padding-left: 10px;
  }
  
  div.error-message {
    font-family: sans-serif;
  }
  
  button.form-button {
    font-family: sans-serif;
    width: 310px;
    height: 40px;
    color: white;
    border-radius: 10px;
    background-color: rgb(42, 42, 240);
  }
  

  
  