/* You can add global styles to this file, and also import other style files */
.body{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
    margin: 0 0 6px !important;
}